# Analise Exploratoria de dados

## Imports

In [7]:
import pandas as pd
import numpy as np

## Leitura da tabela

In [8]:
df = pd.read_csv("..\\assets\\data\\adm_data_reduced.csv")

## Analise Inicial

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          400 non-null    int64
 1   TOEFL Score        400 non-null    int64
 2   University Rating  400 non-null    int64
 3   SOP                400 non-null    float64
 4   LOR                400 non-null    float64
 5   CGPA               400 non-null    float64
 6   Research           400 non-null    bool
 7   Chance of Admit    400 non-null    float64
dtypes: bool(1), float64(4), int64(3)
memory usage: 22.4 KB

In [10]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,True,0.92
1,324,107,4,4.0,4.5,8.87,True,0.76
2,316,104,3,3.0,3.5,8.00,True,0.72
3,322,110,3,3.5,2.5,8.67,True,0.80
4,314,103,2,2.0,3.0,8.21,False,0.65

In [11]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

## Analise estat√≠stica

### Tabela no geral

In [25]:
df.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.724350
std,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.142609
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.340000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.640000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,0.730000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,0.830000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,0.970000

In [33]:
print(df['Chance of Admit '].mean())
print(df['Chance of Admit '].median())
print(df['Chance of Admit '].max())
print(df['Chance of Admit '].min())

0.72435
0.73
0.97
0.34

In [36]:
print(df['TOEFL Score'].mean())
print(df['TOEFL Score'].median())
print(df['TOEFL Score'].max())
print(df['TOEFL Score'].min())

107.41
107.0
120
92

### Alunos com uma chance de admiss√£o maior ou igual a 90

#### Total

In [15]:
chance_of_aproval = df[df['Chance of Admit '] >= 0.9]

In [18]:
chance_of_aproval.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,333.245614,116.263158,4.561404,4.561404,4.421053,9.504386,0.932281
std,5.082465,2.689439,0.627283,0.453854,0.532761,0.206355,0.021466
min,320.000000,110.000000,2.000000,3.000000,3.000000,9.160000,0.900000
25%,331.000000,115.000000,4.000000,4.500000,4.000000,9.360000,0.910000
50%,334.000000,116.000000,5.000000,4.500000,4.500000,9.460000,0.930000
75%,337.000000,118.000000,5.000000,5.000000,5.000000,9.660000,0.950000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,0.970000

In [35]:
print(chance_of_aproval['GRE Score'].mean())
print(chance_of_aproval['GRE Score'].median())

333.2456140350877
334.0

In [39]:
print(chance_of_aproval['TOEFL Score'].mean())
print(chance_of_aproval['TOEFL Score'].median())
print(chance_of_aproval['TOEFL Score'].max())
print(chance_of_aproval['TOEFL Score'].min())

116.26315789473684
116.0
120
110

#### Nas melhores Universidades

In [20]:
chance_of_aproval_best_university =chance_of_aproval[chance_of_aproval['University Rating'] == 5]

In [23]:
chance_of_aproval_best_university.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
count,35.000000,35.000000,35.0,35.000000,35.000000,35.000000,35.000000
mean,332.457143,115.942857,5.0,4.600000,4.457143,9.501714,0.934571
std,5.248769,2.764724,0.0,0.398527,0.573578,0.212471,0.019903
min,320.000000,110.000000,5.0,4.000000,3.000000,9.160000,0.900000
25%,330.500000,114.500000,5.0,4.500000,4.000000,9.355000,0.920000
50%,333.000000,116.000000,5.0,4.500000,4.500000,9.450000,0.940000
75%,336.000000,118.000000,5.0,5.000000,5.000000,9.670000,0.940000
max,340.000000,120.000000,5.0,5.000000,5.000000,9.910000,0.970000

In [38]:
print(chance_of_aproval_best_university['TOEFL Score'].mean())
print(chance_of_aproval_best_university['TOEFL Score'].median())
print(chance_of_aproval_best_university['TOEFL Score'].max())
print(chance_of_aproval_best_university['TOEFL Score'].min())

115.94285714285714
116.0
120
110

### TOEFL

In [ ]:
analise_TOEFL = df[]