# Analise Exploratoria de dados

## Imports

In [7]:
import pandas as pd
import numpy as np

## Leitura da tabela

In [8]:
df = pd.read_csv("..\\assets\\data\\adm_data_reduced.csv")

## Analise Inicial

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          400 non-null    int64
 1   TOEFL Score        400 non-null    int64
 2   University Rating  400 non-null    int64
 3   SOP                400 non-null    float64
 4   LOR                400 non-null    float64
 5   CGPA               400 non-null    float64
 6   Research           400 non-null    bool
 7   Chance of Admit    400 non-null    float64
dtypes: bool(1), float64(4), int64(3)
memory usage: 22.4 KB

In [10]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,True,0.92
1,324,107,4,4.0,4.5,8.87,True,0.76
2,316,104,3,3.0,3.5,8.00,True,0.72
3,322,110,3,3.5,2.5,8.67,True,0.80
4,314,103,2,2.0,3.0,8.21,False,0.65

In [11]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

## Analise estat√≠stica

### Tabela no geral

In [25]:
df.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.724350
std,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.142609
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.340000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.640000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,0.730000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,0.830000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,0.970000

In [67]:
print(df['GRE Score'].mean())
print(df['GRE Score'].median())
print(df['GRE Score'].mode())
print(df['GRE Score'].max())
print(df['GRE Score'].min())

316.8075
317.0
0    312
1    324
Name: GRE Score, dtype: int64
340
290

In [63]:
print(df['TOEFL Score'].mean())
print(df['TOEFL Score'].median())
print(df['TOEFL Score'].mode())
print(df['TOEFL Score'].max())
print(df['TOEFL Score'].min())

107.41
107.0
0    110
Name: TOEFL Score, dtype: int64
120
92

In [68]:
print(df['University Rating'].mean())
print(df['University Rating'].median())
print(df['University Rating'].mode())
print(df['University Rating'].max())
print(df['University Rating'].min())

3.0875
3.0
0    3
Name: University Rating, dtype: int64
5
1

In [70]:
print(df['LOR '].mean())
print(df['LOR '].median())
print(df['LOR '].mode())
print(df['LOR '].max())
print(df['LOR '].min())

3.4525
3.5
0    3.0
Name: LOR , dtype: float64
5.0
1.0

In [72]:
print(df['SOP'].mean())
print(df['SOP'].median())
print(df['SOP'].mode())
print(df['SOP'].max())
print(df['SOP'].min())

3.4
3.5
0    3.5
1    4.0
Name: SOP, dtype: float64
5.0
1.0

In [64]:
print(df['CGPA'].mean())
print(df['CGPA'].median())
print(df['CGPA'].mode())
print(df['CGPA'].max())
print(df['CGPA'].min())

8.598925
8.61
0    8.0
Name: CGPA, dtype: float64
9.92
6.8

In [62]:
print(df['Chance of Admit '].mean())
print(df['Chance of Admit '].median())
print(df['Chance of Admit '].mode())
print(df['Chance of Admit '].max())
print(df['Chance of Admit '].min())

0.72435
0.73
0    0.64
Name: Chance of Admit , dtype: float64
0.97
0.34

### Pessoas com uma chance de admiss√£o maior ou igual a 90

#### Total

In [15]:
chance_of_aproval = df[df['Chance of Admit '] >= 0.9]

In [18]:
chance_of_aproval.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,333.245614,116.263158,4.561404,4.561404,4.421053,9.504386,0.932281
std,5.082465,2.689439,0.627283,0.453854,0.532761,0.206355,0.021466
min,320.000000,110.000000,2.000000,3.000000,3.000000,9.160000,0.900000
25%,331.000000,115.000000,4.000000,4.500000,4.000000,9.360000,0.910000
50%,334.000000,116.000000,5.000000,4.500000,4.500000,9.460000,0.930000
75%,337.000000,118.000000,5.000000,5.000000,5.000000,9.660000,0.950000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,0.970000

In [60]:
print(chance_of_aproval['GRE Score'].mean())
print(chance_of_aproval['GRE Score'].median())
print(chance_of_aproval['GRE Score'].mode())
print(chance_of_aproval['GRE Score'].max())
print(chance_of_aproval['GRE Score'].min())

333.2456140350877
334.0
0    340
Name: GRE Score, dtype: int64
340
320

In [74]:
print(chance_of_aproval['TOEFL Score'].mean())
print(chance_of_aproval['TOEFL Score'].median())
print(chance_of_aproval['TOEFL Score'].mode())
print(chance_of_aproval['TOEFL Score'].max())
print(chance_of_aproval['TOEFL Score'].min())

116.26315789473684
116.0
0    118
Name: TOEFL Score, dtype: int64
120
110

In [75]:
print(chance_of_aproval['University Rating'].mean())
print(chance_of_aproval['University Rating'].median())
print(chance_of_aproval['University Rating'].mode())
print(chance_of_aproval['University Rating'].max())
print(chance_of_aproval['University Rating'].min())

4.56140350877193
5.0
0    5
Name: University Rating, dtype: int64
5
2

In [77]:
print(chance_of_aproval['LOR '].mean())
print(chance_of_aproval['LOR '].median())
print(chance_of_aproval['LOR '].mode())
print(chance_of_aproval['LOR '].max())
print(chance_of_aproval['LOR '].min())

4.421052631578948
4.5
0    4.5
Name: LOR , dtype: float64
5.0
3.0

In [78]:
print(chance_of_aproval['SOP'].mean())
print(chance_of_aproval['SOP'].median())
print(chance_of_aproval['SOP'].mode())
print(chance_of_aproval['SOP'].max())
print(chance_of_aproval['SOP'].min())

4.56140350877193
4.5
0    5.0
Name: SOP, dtype: float64
5.0
3.0

In [65]:
print(chance_of_aproval['CGPA'].mean())
print(chance_of_aproval['CGPA'].median())
print(chance_of_aproval['CGPA'].mode())
print(chance_of_aproval['CGPA'].max())
print(chance_of_aproval['CGPA'].min())

9.504385964912279
9.46
0    9.36
Name: CGPA, dtype: float64
9.92
9.16

In [80]:
print(chance_of_aproval['Chance of Admit '].mean())
print(chance_of_aproval['Chance of Admit '].median())
print(chance_of_aproval['Chance of Admit '].mode())
print(chance_of_aproval['Chance of Admit '].max())
print(chance_of_aproval['Chance of Admit '].min())

0.9322807017543859
0.93
0    0.94
Name: Chance of Admit , dtype: float64
0.97
0.9

#### Nas melhores Universidades

In [20]:
chance_of_aproval_best_university =chance_of_aproval[chance_of_aproval['University Rating'] == 5]

In [23]:
chance_of_aproval_best_university.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
count,35.000000,35.000000,35.0,35.000000,35.000000,35.000000,35.000000
mean,332.457143,115.942857,5.0,4.600000,4.457143,9.501714,0.934571
std,5.248769,2.764724,0.0,0.398527,0.573578,0.212471,0.019903
min,320.000000,110.000000,5.0,4.000000,3.000000,9.160000,0.900000
25%,330.500000,114.500000,5.0,4.500000,4.000000,9.355000,0.920000
50%,333.000000,116.000000,5.0,4.500000,4.500000,9.450000,0.940000
75%,336.000000,118.000000,5.0,5.000000,5.000000,9.670000,0.940000
max,340.000000,120.000000,5.0,5.000000,5.000000,9.910000,0.970000

In [61]:
print(chance_of_aproval_best_university['TOEFL Score'].mean())
print(chance_of_aproval_best_university['TOEFL Score'].median())
print(chance_of_aproval_best_university['TOEFL Score'].mode())
print(chance_of_aproval_best_university['TOEFL Score'].max())
print(chance_of_aproval_best_university['TOEFL Score'].min())

115.94285714285714
116.0
0    115
1    118
Name: TOEFL Score, dtype: int64
120
110

In [66]:
print(chance_of_aproval_best_university['CGPA'].mean())
print(chance_of_aproval_best_university['CGPA'].median())
print(chance_of_aproval_best_university['CGPA'].mode())
print(chance_of_aproval_best_university['CGPA'].max())
print(chance_of_aproval_best_university['CGPA'].min())

9.501714285714286
9.45
0    9.36
Name: CGPA, dtype: float64
9.91
9.16

### TOEFL

#### Acima da mediana

In [51]:
analise_TOEFL_beyond_median = df[df['TOEFL Score'] >= 107]

In [52]:
analise_TOEFL_beyond_median.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
count,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000
mean,324.004608,111.958525,3.700461,3.919355,3.831797,8.976129,0.809124
std,8.524745,3.740808,0.989599,0.735473,0.780582,0.446089,0.108665
min,301.000000,107.000000,1.000000,2.000000,1.500000,7.700000,0.450000
25%,319.000000,109.000000,3.000000,3.500000,3.500000,8.670000,0.740000
50%,324.000000,111.000000,4.000000,4.000000,4.000000,9.020000,0.810000
75%,330.000000,114.000000,5.000000,4.500000,4.500000,9.260000,0.900000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,0.970000

In [81]:
print(analise_TOEFL_beyond_median['GRE Score'].mean())
print(analise_TOEFL_beyond_median['GRE Score'].median())
print(analise_TOEFL_beyond_median['GRE Score'].mode())
print(analise_TOEFL_beyond_median['GRE Score'].max())
print(analise_TOEFL_beyond_median['GRE Score'].min())

324.0046082949309
324.0
0    324
Name: GRE Score, dtype: int64
340
301

In [82]:
print(analise_TOEFL_beyond_median['TOEFL Score'].mean())
print(analise_TOEFL_beyond_median['TOEFL Score'].median())
print(analise_TOEFL_beyond_median['TOEFL Score'].mode())
print(analise_TOEFL_beyond_median['TOEFL Score'].max())
print(analise_TOEFL_beyond_median['TOEFL Score'].min())

111.95852534562212
111.0
0    110
Name: TOEFL Score, dtype: int64
120
107

In [83]:
print(analise_TOEFL_beyond_median['University Rating'].mean())
print(analise_TOEFL_beyond_median['University Rating'].median())
print(analise_TOEFL_beyond_median['University Rating'].mode())
print(analise_TOEFL_beyond_median['University Rating'].max())
print(analise_TOEFL_beyond_median['University Rating'].min())

3.7004608294930876
4.0
0    3
Name: University Rating, dtype: int64
5
1

In [85]:
print(analise_TOEFL_beyond_median['LOR '].mean())
print(analise_TOEFL_beyond_median['LOR '].median())
print(analise_TOEFL_beyond_median['LOR '].mode())
print(analise_TOEFL_beyond_median['LOR '].max())
print(analise_TOEFL_beyond_median['LOR '].min())

3.8317972350230414
4.0
0    4.0
Name: LOR , dtype: float64
5.0
1.5

In [86]:
print(analise_TOEFL_beyond_median['SOP'].mean())
print(analise_TOEFL_beyond_median['SOP'].median())
print(analise_TOEFL_beyond_median['SOP'].mode())
print(analise_TOEFL_beyond_median['SOP'].max())
print(analise_TOEFL_beyond_median['SOP'].min())

3.9193548387096775
4.0
0    4.0
Name: SOP, dtype: float64
5.0
2.0

In [87]:
print(analise_TOEFL_beyond_median['CGPA'].mean())
print(analise_TOEFL_beyond_median['CGPA'].median())
print(analise_TOEFL_beyond_median['CGPA'].mode())
print(analise_TOEFL_beyond_median['CGPA'].max())
print(analise_TOEFL_beyond_median['CGPA'].min())

8.976129032258065
9.02
0    8.76
1    9.11
Name: CGPA, dtype: float64
9.92
7.7

In [88]:
print(analise_TOEFL_beyond_median['Chance of Admit '].mean())
print(analise_TOEFL_beyond_median['Chance of Admit '].median())
print(analise_TOEFL_beyond_median['Chance of Admit '].mode())
print(analise_TOEFL_beyond_median['Chance of Admit '].max())
print(analise_TOEFL_beyond_median['Chance of Admit '].min())

0.8091244239631336
0.81
0    0.94
Name: Chance of Admit , dtype: float64
0.97
0.45

#### Abaixo da Mediana

In [55]:
analise_TOEFL_below_median = df[df['TOEFL Score'] < 107]

In [56]:
analise_TOEFL_below_median.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Chance of Admit
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,308.273224,102.016393,2.360656,2.784153,3.002732,8.151639,0.623825
std,8.207588,3.199374,0.852265,0.936806,0.819570,0.415443,0.108823
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.340000
25%,301.000000,100.000000,2.000000,2.000000,2.500000,7.890000,0.560000
50%,309.000000,103.000000,2.000000,2.500000,3.000000,8.180000,0.640000
75%,314.500000,105.000000,3.000000,3.500000,3.500000,8.450000,0.710000
max,327.000000,106.000000,5.000000,5.000000,5.000000,9.040000,0.820000

In [89]:
print(analise_TOEFL_below_median['GRE Score'].mean())
print(analise_TOEFL_below_median['GRE Score'].median())
print(analise_TOEFL_below_median['GRE Score'].mode())
print(analise_TOEFL_below_median['GRE Score'].max())
print(analise_TOEFL_below_median['GRE Score'].min())

308.27322404371586
309.0
0    312
Name: GRE Score, dtype: int64
327
290

In [90]:
print(analise_TOEFL_below_median['TOEFL Score'].mean())
print(analise_TOEFL_below_median['TOEFL Score'].median())
print(analise_TOEFL_below_median['TOEFL Score'].mode())
print(analise_TOEFL_below_median['TOEFL Score'].max())
print(analise_TOEFL_below_median['TOEFL Score'].min())

102.01639344262296
103.0
0    105
Name: TOEFL Score, dtype: int64
106
92

In [91]:
print(analise_TOEFL_below_median['University Rating'].mean())
print(analise_TOEFL_below_median['University Rating'].median())
print(analise_TOEFL_below_median['University Rating'].mode())
print(analise_TOEFL_below_median['University Rating'].max())
print(analise_TOEFL_below_median['University Rating'].min())

2.360655737704918
2.0
0    2
Name: University Rating, dtype: int64
5
1

In [92]:
print(analise_TOEFL_below_median['LOR '].mean())
print(analise_TOEFL_below_median['LOR '].median())
print(analise_TOEFL_below_median['LOR '].mode())
print(analise_TOEFL_below_median['LOR '].max())
print(analise_TOEFL_below_median['LOR '].min())

3.0027322404371586
3.0
0    3.0
Name: LOR , dtype: float64
5.0
1.0

In [93]:
print(analise_TOEFL_below_median['SOP'].mean())
print(analise_TOEFL_below_median['SOP'].median())
print(analise_TOEFL_below_median['SOP'].mode())
print(analise_TOEFL_below_median['SOP'].max())
print(analise_TOEFL_below_median['SOP'].min())

2.7841530054644807
2.5
0    2.5
1    3.0
Name: SOP, dtype: float64
5.0
1.0

In [94]:
print(analise_TOEFL_below_median['CGPA'].mean())
print(analise_TOEFL_below_median['CGPA'].median())
print(analise_TOEFL_below_median['CGPA'].mode())
print(analise_TOEFL_below_median['CGPA'].max())
print(analise_TOEFL_below_median['CGPA'].min())

8.151639344262295
8.18
0    8.0
Name: CGPA, dtype: float64
9.04
6.8

In [95]:
print(analise_TOEFL_below_median['Chance of Admit '].mean())
print(analise_TOEFL_below_median['Chance of Admit '].median())
print(analise_TOEFL_below_median['Chance of Admit '].mode())
print(analise_TOEFL_below_median['Chance of Admit '].max())
print(analise_TOEFL_below_median['Chance of Admit '].min())

0.6238251366120219
0.64
0    0.64
Name: Chance of Admit , dtype: float64
0.82
0.34

### CGPA acima ou abaixo da mediana

#### Acima