# Limpeza de dados

## imports

In [1]:
import pandas as pd
import numpy as np

## leitura da tabela

In [2]:
df = pd.read_csv("..\\assets\\data\\adm_data.csv")

## Redução de atributos

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          400 non-null    int64
 1   TOEFL Score        400 non-null    int64
 2   University Rating  400 non-null    int64
 3   SOP                400 non-null    float64
 4   LOR                400 non-null    float64
 5   CGPA               400 non-null    float64
 6   Research           400 non-null    bool
 7   Chance of Admit    400 non-null    float64
dtypes: bool(1), float64(4), int64(3)
memory usage: 22.4 KB

In [10]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,True,0.92
1,324,107,4,4.0,4.5,8.87,True,0.76
2,316,104,3,3.0,3.5,8.00,True,0.72
3,322,110,3,3.5,2.5,8.67,True,0.80
4,314,103,2,2.0,3.0,8.21,False,0.65

In [4]:
df = df.drop('Serial No.', axis=1)

In [5]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

## Conversão dos tipos

In [8]:
df['Research'] = df['Research'].astype("bool")

## Salvando a nova tabela

In [12]:
df.to_csv("..\\assets\\data\\adm_data_reduced.csv", index=False)